
/*******************************
	CSS Document for HappySlaks.com of Janos Varga 
	Developed by: V.Hohin 
	Script Date: June 17, 2016 
	Last modification: June 19, 2016
*********************************/

/********************************  
Style for Gallery pages for phone
********************************/

@charset "utf-8";@font-face{font-family:SinkinSans300LightItalic;src:url(../fonts/sinkin-sans/SinkinSans-300LightItalic.otf);}
body{font-size:10px;font-family:SinkinSans300LightItalic;}
#pageheader{height:30px;}
#topnav ul li a:active, #topnav ul li a{margin:0;padding:2px 3px;}
#pageheader>h1{font-size:200%;}
#welcomtext>h1{font-size:100%;}
#pagecontainer, #familycontainer{width:100%;border-radius:0;margin:0 auto;}
#content_family{width:100%;padding:0;}
.gallerydescription{margin-top:20px;border-bottom:1px dotted #00aeef;}
#gallery section div h2{padding-top:5px;}
#gallerysection{padding-bottom:30px;}
#gallery section div{max-width:100%;}
#gallery section div p{font-size:100%;}
#gallery section figure img{float:none;}
#gallery section figure{width:280px;margin:0 auto;}
footer nav{min-width:320px;}
footer nav ul li a:active,
footer nav ul li a:link{margin:0;padding:2px 3px;}
.pic-overlay a.pic-right{left:68%;width:50px;top:3px;}
.pic-overlay a.pic-left{left:30%;width:50px;top:3px;}
.pic-overlay a.pic-close{top:6px;}
#content_family fieldset{width:246px;}