ul.gallery-list {
    list-style-type: none;
    list-style-position:inside;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li {
        margin-bottom: 10px;
        display: inline-flex;
        a {
            display: flex;
            figure {
                border: 1px solid #fff;
                border-radius: 5px;
                z-index: 2;
                position: relative;
                overflow: hidden;
                .img-container {
                    overflow: hidden;
                    position: relative;
                    z-index: 2;
                    img {
                        transform: scale(1);
                        transition: .5s ease-in-out;
                        z-index: 1;
                        position: relative;
                    }
                }
                figcaption {
                    max-width: 300px;
                    padding: 10px;
                    h3 {
                        margin-top: 0;
                        color: #464F51 ;
                        text-transform: capitalize;
                    }
                    p {
                        margin-top: 10px;
                    }
                }
                &:hover {
                    border: 1px solid #EF8354;  
                    img {
                        transform: scale(1.1);
                    }
                    figcaption {
                        h3 {
                            color: #EF8254; 
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-mobile-max) {
    }
    @media (min-width: $grid-float-breakpoint) {
    }
    @media (min-width: $breakpoint-mobile-min) and (max-width: $grid-float-breakpoint) {
    }
}


