$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-link-color: #464F51;
$navbar-default-link-active-bg: #003366;
$navbar-default-link-active-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #EF8354; 
$grid-float-breakpoint: 992px;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-hover-bg: #003366;
$navbar-default-toggle-border-color: #003366;

