@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding: 5px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-bubbles:before {
	content: "\e601";
}
.icon-bubble:before {
	content: "\e602";
}
.icon-star:before {
	content: "\e603";
}
.icon-lock2:before {
	content: "\e604";
}
.icon-drawer:before {
	content: "\e605";
}
.icon-checkmark-circle:before {
	content: "\e606";
}
.icon-briefcase:before {
	content: "\e607";
}
.icon-home:before {
	content: "\e608";
}
.icon-home2:before {
	content: "\e609";
}
.icon-newspaper:before {
	content: "\e60a";
}
.icon-profile:before {
	content: "\e60b";
}
.icon-pencil:before {
	content: "\e60c";
}
.icon-envelope:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e60e";
}
.icon-mobile:before {
	content: "\e60f";
}
.icon-phone:before {
	content: "\e610";
}
.icon-trophy:before {
	content: "\e611";
}
.icon-star2:before {
	content: "\e612";
}
.icon-star3:before {
	content: "\e613";
}
.icon-flickr:before {
	content: "\e614";
}
.icon-trophy2:before {
	content: "\e615";
}